/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  text-align: center;
  padding: 4rem 0;
  background-color: #fff;
  height: 700px;
}

.imageRow {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.heroImage {
  width: 600px;
  height: 350px;
  border-radius: 8px;
  background-color: #ddd;
  object-fit: cover;
}


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
